body {
  background-color: #f3f0d7;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
}

h1,
h3 {
  color: #ffbf86;
}

.bg-white {
  background-color: white;
}

#bg-grey {
  background-color: #f3f0d7;
}

.center {
  text-align: center;
}
